/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
!/var/data
!var/data/.gitkeep
/var/data/*git rm --cached
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea/*
nbproject/*
/ubuntu-xenial-16.04-cloudimg-console.log
/nohup.out
/.vagrant/
!/downloads/
/downloads/*
!/downloads/.gitkeep
/var/data/test.sqlite
