{% trans_default_domain 'FOSUserBundle' %}

{% extends "@User/base.html.twig" %}
{% block title %}
    Register
{% endblock title %}
{% block body %}
    <h3><span class="label label-primary">Email</span></h3><br>
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
{% endblock body %}
{% block links %}
{% endblock links %}
