{% trans_default_domain 'FOSUserBundle' %}

{% extends "@User/base.html.twig" %}
{% block title %}
    Register
{% endblock title %}
{% block body %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
        <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
{% endblock body %}
{% block links %}
{% endblock links %}
