{% extends "@User/base.html.twig" %}
{% block title %}
    Register
{% endblock title %}
{% block body %}
    <h3><span class="label label-primary">Register</span></h3><br>
    {{ include('@User/Registration/register_content.html.twig') }}
{% endblock body %}
{% block links %}
{% endblock links %}
